/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 85px;
  background-color: #f5f5f5; /* Very, very light grey */
  color: #272626;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 85px;
  line-height: 85px; /* Vertically center the text there */
  background-color: black;
}