.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 230px;
  background-color: #0d0d0d;
  color: white;
}

/* Stylings for the top section of the footer */

.top-footer-content {
  width: 100%;
  height: 160px;
}

.top-footer-row {
  height: 100%;
}

.footer-section-header-wrapper {
  
}

.footer-section-header-homemade-hr-right {
  width: 175px;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
}

.footer-section-header {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 4px;
  padding: 0;
  padding-left: 3px;
}

.footer-section-sub-header a {
  color: white;
}

.footer-section-sub-header a:hover {
  color: #00b140;
  text-decoration: none;
}

.footer-section-sub-header {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-left: 3px;
}

  /* Stylings for left-top footer section */

  .footer-top-content-left {
    padding-top: 25px;
    padding-left: 50px;
  }

  .footer-brand-logo {
    width: 400px;
    height: auto;
  }

  /* END Stylings for left-top footer section */

  /* Stylings for center-top footer section */

  .footer-top-content-center {
    text-align: center;
    padding-top: 30px;
  }

  .social-footer-link {

  }

  .social-footer-link:hover {
    color: none;
    text-decoration: none;
  }

  .social-footer-link:hover img.footer-social-media-img {
    display: none;
  }

  .social-footer-link:hover img.footer-social-media-img-hover {
    display: inherit;
  }

  .footer-social-media-img {
    margin-right: 4px;
    margin-left: 4px;
    width: 35px;
    height: auto;
    display: inherit;
  }

  .footer-social-media-img-hover {
    margin-right: 4px;
    margin-left: 4px;
    width: 35px;
    height: auto;
    display: none;
  }

  .social-media-footer-wrapper {
    margin-top: 35px;
  }

  /* END Stylings for center-top footer section */

  /* Stylings for right-top footer section */

    .footer-top-content-right-section {
      padding-top: 30px;
      padding-left: 30px;
      text-align: left;
    }

    /* END Stylings for right-top footer section */


/* END Stylings for the top section of the footer */



/* Stylings for the bottom section of the footer */


.bottom-footer-content {
  width: 100%;
  height: 70px;
  padding-top: 0;
  text-align: center;
}



.fine-print-bottom-footer-wrapper {
  padding-top: 15px;
}

.fine-print-link-p {
  margin-top: 2px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
}

.fine-print-link-p a {
  color: white;
}

.fine-print-link-p a:hover {
  text-decoration: none;
  color: #00b140;
}



/* END Stylings for the bottom section of the footer */