html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 240px;
  background-color: #f5f5f5; /* Very, very light grey */
  color: #272626; /* Not quite straight black, close though */
  font-family: 'Montserrat', sans-serif;
}