
.home-page-section-wrapper {
	width: 100%;
	padding-left: 80px;
	padding-right: 80px;
}

@media (max-width: 1500px) {
	.home-page-section-wrapper {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

.fancy-home-divider {
	width: 100%;
	padding-right: 80px;
	padding-left: 80px;
	height: 22px;
}

.inner-fancy-home-divider: {
	background: red;
	width: 100%;
	height: 22px;
}

.fancy-hm-left {
	width: 47%;
	border: 1px solid grey;
	display: inline-block;
}

.fancy-hm-center {
	width: 5%;
	display: inline-block;
	text-align: center;
}

.fancy-hm-right {
	width: 47%;
	border: 1px solid grey;
	display: inline-block;
}

/*
	SPLASH WRAPPER STYLING
*/

.home-splash-content-wrapper {
	background-image: url('http://res.cloudinary.com/zacharycook/image/upload/v1505079188/screen-printing-machine-splash-backdrop-darkened_gxgo4y.jpg');
	min-height: 760px;
	width: 100%;
	padding-top: 220px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.home-page-tagline-holder {
	width: 680px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	text-align: center;
	font-size: 72px;
	font-weight: 800;
	line-height: 78px;
}

.home-page-tagline-holder .green {
	color: #02a03c;
}

.home-page-tagline-sub-header {
	width: 1000px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	font-size: 30px;
	line-height: 34px;
}

.homepage-splash-zach-btn {
	width: 420px;
	height: 80px;
	margin: 0 auto;
	margin-top: 35px;
	border: 3px solid #02a03c;
	padding: 0;
	text-align: center;
	color: white;
	font-size: 40px;
	line-height: 80px;
	font-weight: 600;
}

.homepage-splash-zach-btn:hover {
	cursor: pointer;
	background:
	    linear-gradient(
	      rgba(0, 0, 0, 0.8), 
	      rgba(0, 0, 0, 0.8)
	    );
}
/*
	END SPLASH WRAPPER STYLING
*/

/*
	START SPLASH PAGE RESPONSIVE STYLING 
*/

/* First, just mobile */

@media (max-width: 767px) {
	#splash-wrapper {
		padding-top: 35px;
		padding-bottom: 30px;
	}
	.home-splash-content-wrapper {
		height: 550px !important;
		min-height: 550px;
	}
	.home-page-tagline-holder {
		max-width: 95%;
		font-size: 50px;
		line-height: 55px;
	}
	.home-page-tagline-sub-header {
		max-width: 95%;
		margin: 0 auto;
		font-size: 18px;
		line-height: 22px;
	}
	.homepage-splash-zach-btn {
		width: 300px;
		height: 50px;
		margin-top: 15px;
		font-size: 26px;
		line-height: 50px;
	}
}



/* END mobile */




/*
	END SPLASH PAGE RESPONSIVE STYLING
*/

/*
	OUR ADVANTAGES WRAPPER STYLING
*/

.little-ribbon-wrapper {
	height: 46px;
	width: 100%;
	background-color: #a9a8ab;
	font-family: 'Montserrat', sans-serif;
}

.inner-little-ribbon-wrapper {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}

.service-ribbon-text {
	font-size: 30px;
	line-height: 46px;
	letter-spacing: 7px;
	color: white;
	font-weight: 600;
	min-width: 70px;
	padding-left: 30px;
	padding-right: 30px;
}

.tear-drop-separator {
	height: 26px;
	width: auto;
	margin: 0;
	margin-top: -10px;
	padding: 0;
	position: relative;
}


.our-advantages-section-wrapper {
	min-height: 400px;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Montserrat', sans-serif;
}

.quarter-width-feature-wrapper {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.advantages-icon-row {
	height: 240px;
	padding-top: 0;
	padding-bottom: 0;
}

.feature-icon {
	height: 100%;
	width: auto;
}

.our-advantages-sub-header {
	padding-top: 10px;
	font-size: 18px;
	font-weight: 600;
	line-height: 21px;
	padding-right: 20px;
	padding-left: 20px;
}


/*
	END OUR ADVANTAGES WRAPPER STYLING
*/






/*
	OUR BRANDS WRAPPER STYLING
*/

.our-brands-section-wrapper {
	min-height: 700px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.brands-header-row {
	text-align: center;
	padding-bottom: 25px;
}

.brands-header-line {
	display: block;
	width: 100%;
	margin: 0 auto;
	font-size: 40px;
	line-height: 44px;
	font-weight: 900;
}

.brands-header-line .green {
	color: #02a03c;
}

.brand-promo-image-wrapper {
	text-align: center;
}

.brand-promo-image {
	width: auto;
	height: 475px;
}

.brands-subheader-row {
	padding-top: 25px;
}

.brands-subheader-text {
	font-size: 32px;
	line-height: 34px;
	margin: 0 auto;
}

.zach-brand-browse-btn {
	width: 600px;
	height: 50px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	padding: 0;
	font-weight: 600;
	background-color: #080808;
	color: #e5e5e5;
}

.zach-brand-browse-btn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}


/*
	END OUR BRANDS WRAPPER STYLING
*/




/*
	OUR SERVICES WRAPPER STYLING
*/

.our-services-section-wrapper {
	min-height: 400px;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: 'Montserrat', sans-serif;
}

.services-image-section {
	text-align: center;
}

.services-image-section img {
	border: 4px solid black;
	margin-bottom: 10px;
	margin-top: 30px;
}


/*
	END OUR SERVICES WRAPPER STYLING
*/




/*
	CONTACT US WRAPPER STYLING
*/

.home-contact-us-section-wrapper {
	min-height: 500px;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: 'Montserrat', sans-serif;
}

.contact-info-block {
	width: 500px;
	min-height: 300px;
	padding-left: 45px;
	padding-top: 45px;
	padding-bottom: 45px;
	margin-right: 155px;
	background-color: #080808;
	color: white;
	float: right;
}

.contact-info-header {
	color: #02a03c;
	font-weight: 600;
	margin-bottom: 30px;
}

.contact-info-subheader {
	font-weight: 600;
	padding-top: 35px;
}

.contact-info-line {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 22px;
}

.contact-us-section-small-text {
	width: 400px;
}

.fancy-contact-us-form {
	width: 700px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.fancy-form-field-header {
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 25px;
}

.fancy-contact-form-text-input {
	border: none;
	background-color: #dcd8d6;
	height: 36px;
	width: 400px;
	font-size: 20px;
	line-height: 36px;
	padding-left: 8px;
}

.fancy-contact-form-message {
	border: none;
	background-color: #dcd8d6;	
	width: 400px;
}

.fancy-contact-us-form-submit-btn {
	width: 400px;
	height: 35px;
	margin-top: 15px;
	text-align: center;
	font-size: 26px;
	line-height: 35px;
	background-color: #080808;
	color: #e5e5e5;
}

.fancy-contact-us-form-submit-btn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}


/*
	END CONTACT US WRAPPER STYLING
*/