
/* Custom navbar styles
-------------------------------------------------- */

/* Some decent yet simple docs on making your own navbar:
  https://www.w3schools.com/css/css_navbar.asp */

.zach-navbar-wrapper {
  height: 80px;
  width: 100%;
  background-color: #121212;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: 'Montserrat';
}

.company-logo-wrapper {
  display: inline-block;
  height: 100%;
  width: 340px;
}

.navbar-company-logo {
  /* Interesting information about getting the image to not offset down a few inches like it was doing
      https://stackoverflow.com/questions/21932860/image-moving-down-inside-of-div */
  height: 70px;
  width: auto;
  display: block;
}

.navbar-main-options-wrapper {
  width: 600px;
  display: inline-block;
  height: 100%;
  float: right;
  padding-right: 30px;
}


.zach-navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 70px;
  float: right;
}

.zach-navbar-li {
  display: inline-block;
  float: left; /* key to getting the 'li's to not offset from 'ul' */
  vertical-align: middle;
  line-height: 70px;
}

.zach-navbar-li a {
  display: block;
  min-width: 75px;
  text-align: center;
  margin-right: 14px;
  margin-left: 14px;
  color: white;
  line-height: 70px;
}

.zach-navbar-li a:hover {
  text-decoration: none;
  color: #00b140;
}

.zach-navbar-inner-content-wrapper {
  margin: 0 auto;
  height: 100%;
}

@media (min-width: 1200px) {
  .zach-navbar-inner-content-wrapper {
    width: 1170px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .zach-navbar-inner-content-wrapper {
    width: 970px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .zach-navbar-inner-content-wrapper {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .zach-navbar-inner-content-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-connect-with-us-wrapper {
  width: 170px;
  display: inline-block;
  height: 100%;
  float: right;
}

.top-connect-with-us-section-nav {
  width: 100%;
  height: 25px;
  padding-top: 8px;
  text-align: center;
}

.bottom-connect-with-us-section-nav {
  width: 100%;
  height: 45px;
  padding-top: 8px;
  text-align: center;
}

.top-navbar-tiny-text {
  font-size: 14px;
}

.contact-us-link {
  color: white;
}

.contact-us-link:hover {
  text-decoration: none;
  color: #00b140;
}

/* 
  Got the idea for how to make this image change on hover state work from this great StackOverflow article:
  https://stackoverflow.com/questions/4717117/css-image-link-change-on-hover
*/

.top-nav-social-media-link {
  padding: 0;
  margin: 0;
}

.top-nav-social-media-link:hover {
  text-decoration: none;
}

.top-nav-social-media-link:hover img.tiny-navbar-social-img {
  display: none;
}

.top-nav-social-media-link:hover img.tiny-navbar-social-img-hover {
  display: inherit;
}

.tiny-navbar-social-img {
  display: inherit;
  width: 24px;
  height: auto;
  margin-right: 2px;
  margin-left: 2px;
}

.tiny-navbar-social-img-hover {
  display: none;
  width: 24px;
  height: auto;
  margin-right: 2px;
  margin-left: 2px;
}