.products-page-wrapper {
  font-family: 'Montserrat', sans-serif;
}

.top-products-wrapper {
  width: 100%;
  min-height: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

#top-products-underliner-div {
  border-top: 2px solid black;
  width: 570px;
  height: 0;
  margin-bottom: 12px;
}

@media (max-width: 767px) {
  #top-products-underliner-div {
    width: 80%;
  }
  .products-page-selling-point-header {
    font-size: 1.3rem;
  }
  #products-qr-btn-wrapper {
    padding-top: 0;
    margin-top: -15px;
  }
  #products-page-sell-quote-request-btn {
    height: 120px !important;
    padding-top: 0;
  }
}

.products-page-selling-point-header {
  padding-bottom: 5px;
  margin-bottom: 0 !important;
}

.products-page-selling-point-text {
  padding-bottom: 10px;
  padding-top: 7px;
  margin-bottom: 4px !important;
  padding-left: 2px;
  padding-right: 80px;
}

#products-qr-btn-wrapper {
  padding-top: 50px;
}

#products-page-sell-quote-request-btn {
  height: 90px;
  width: 70%;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  background: rgba(0,  0,  0,  0.80);
  color: #e5e5e5;
  border: 2px solid black;
}

#qr-products-page-btn-wrap {

}

#qr-products-page-btn-wrap:hover {
  text-decoration: none;
  color: white;
}

#products-page-sell-quote-request-btn:hover {
  background: rgba(0,  0,  0,  1);
  color: white;
  cursor: pointer;
}



/*
	Design the product rows
*/

.product-rows-layout-wrapper {

}

.products-row {
  min-height: 400px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.brand-product-example-image {
  height: 300px;
  width: auto;
}

.brand-product-example-image {
  padding-bottom: 10px;
}

.potentially-wide-product-example-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .potentially-wide-product-example-image {
    width: 70%;
    height: auto;
    padding-bottom: 10px;
  }
}

.prod-linkable {
  position: relative;
}

.prod-linkable:hover {
  cursor: pointer;
}

.prod-linkable:hover .tooltip-wrapper {
  display: block;
  z-index: 5;
}

.tooltip-wrapper {
  /* Positioning */
  position: absolute;
  bottom: -45px;
  left: 38px;
  max-width: 300px;
  /* End positioning */


  display: none;
  background-color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  color: white;
}

.product-link-tool-tip-text {
  vertical-align: middle;
  padding-top: 15px;
}