<div style="width: 100%; text-align: center; background-color: #0d0d0d; color: white;">
	<img src="http://res.cloudinary.com/zacharycook/image/upload/v1505418855/east-end-ink-logo-large-width-1288-on-dark_uts4qe.png"
		style="max-width: 80%; height: auto;" />

</div>