<!-- more info on footer here...  http://v4-alpha.getbootstrap.com/examples/sticky-footer-navbar/ -->

<footer class="footer">
	<div class="container">
		<div class="top-footer-content">
			<div class="row top-footer-row">
				<div class="col-md-4 footer-top-content-left">

					<img class="footer-brand-logo" src="./img/east-end-ink-logo-large-width-1288-on-dark.png" />

				</div>
				<div class="col-md-4 footer-top-content-center">

					<div class="social-media-footer-wrapper">
						<a class="social-footer-link" href="http://www.linkedin.com" target="_blank">
							<img class="footer-social-media-img" src="./img/icons/linkedin-logo-silhouette-64.png">
							<img class="footer-social-media-img-hover" src="./img/icons/linkedin-logo-silhouette-64-kelly-green.png">
						</a>
						<a class="social-footer-link" href="http://www.google.com" target="_blank">
							<img class="footer-social-media-img" style="margin-right: 0;" src="./img/icons/google-plus-logo-silhouette-64.png">
							<img class="footer-social-media-img-hover" style="margin-right: 0;" src="./img/icons/google-plus-logo-silhouette-64-kelly-green.png">
						</a>
						<a class="social-footer-link" href="http://www.facebook.com" target="_blank">
							<img class="footer-social-media-img" style="margin-left: -3px;" src="./img/icons/facebook-logo-silhouette-64.png">
							<img class="footer-social-media-img-hover" style="margin-left: -3px;" src="./img/icons/facebook-logo-silhouette-64-kelly-green.png">
						</a>
						<a class="social-footer-link" href="http://www.instagram.com" target="_blank">
							<img class="footer-social-media-img" src="./img/icons/instagram-logo-silhouette-64.png">
							<img class="footer-social-media-img-hover" src="./img/icons/instagram-logo-silhouette-64-kelly-green.png">
						</a>
						<a class="social-footer-link" href="http://www.twitter.com" target="_blank">
							<img class="footer-social-media-img" src="./img/icons/twitter-logo-silhouette-64.png">
							<img class="footer-social-media-img-hover" src="./img/icons/twitter-logo-silhouette-64-kelly-green.png">
						</a>
					</div>

				</div>
				<div class="col-md-4 footer-top-content-right-section">

					<div id="footer-hide-on-xs">
						<div class="footer-section-header-wrapper">
							<h3 class="footer-section-header">Get In Touch</h3>
							<div class="footer-section-header-homemade-hr-right"></div>
						</div>

						<h4 class="footer-section-sub-header">
							(512) 236-9911
						</h4>
						<h4 class="footer-section-sub-header">
							<a href="#">
								Contact Us
							</a>
						</h4>
						<h4 class="footer-section-sub-header">
							<a href="#">
								Request a Quote
							</a>
						</h4>
					</div>

					<div id="footer-show-on-xs" class="fine-print-bottom-footer-wrapper">
						<p class="fine-print-link-p">
							<a href="#">
								Terms & Conditions 
							</a>
							| 
							<a href="#">
								Privacy Policy
							</a>
						</p>
						<p class="fine-print-link-p">
							Copyright 2017 Brand Builders Company, LLC
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="d-xs-none bottom-footer-content">

			<div class="fine-print-bottom-footer-wrapper">
				<p class="fine-print-link-p">
					<a href="#">
						Terms & Conditions 
					</a>
					| 
					<a href="#">
						Privacy Policy
					</a>
				</p>
				<p class="fine-print-link-p">
					Copyright 2017 Brand Builders Company, LLC
				</p>
			</div>

		</div>
	</div>
</footer>