<!-- more info on footer here...  http://v4-alpha.getbootstrap.com/examples/sticky-footer-navbar/ -->

<footer class="footer">
<div class="container">
	<div class="top-footer-content">
		<div class="row top-footer-row">
			<div class="col-md-6 footer-top-content-left">

				<img class="footer-brand-logo" src="./img/east-end-ink-logo-large-width-1288-on-dark.png" />

				<h4 class="footer-top-content-left-sub-header">
					(936) 443-3449
				</h4>
				<h4 class="footer-top-content-left-sub-header">
					<a href="#">
						Contact Us
					</a>
				</h4>
				<h4 class="footer-top-content-left-sub-header">
					<a href="#">
						Request a Quote
					</a>
				</h4>

			</div>
			<div class="col-md-3 footer-top-content-right-section">
				<h3 class="footer-top-right-section-header">Products</h3>

				<div class="custom-top-right-section-hr"></div>

				<p class="footer-top-right-section-sub-header">Shirts</p>
				<p class="footer-top-right-section-sub-header">Jackets</p>
				<p class="footer-top-right-section-sub-header">Hats</p>
				<p class="footer-top-right-section-sub-header">Promotional Products</p>
			</div>
			<div class="col-md-3 footer-top-content-right-section">
				<h3 class="footer-top-right-section-header">Services</h3>

				<div class="custom-top-right-section-hr"></div>

				<p class="footer-top-right-section-sub-header">Embroidery</p>
				<p class="footer-top-right-section-sub-header">Screen Printing</p>
				<p class="footer-top-right-section-sub-header">Back Rubs</p>
			</div>
		</div>
	</div>
	<div class="bottom-footer-content">

		<div class="social-media-bottom-footer-wrapper">
			<a class="a-class-no-hover" href="http://www.linkedin.com" target="_blank">
				<img class="social-media-img-bottom" src="./img/icons/linkedin-logo-silhouette-64.png">
			</a>
			<a class="a-class-no-hover" href="http://www.google.com" target="_blank">
				<img class="social-media-img-bottom" style="margin-right: 0;" src="./img/icons/google-plus-logo-silhouette-64.png">
			</a>
			<a class="a-class-no-hover" href="http://www.facebook.com" target="_blank">
				<img class="social-media-img-bottom" style="margin-left: -3px;" src="./img/icons/facebook-logo-silhouette-64.png">
			</a>
			<a class="a-class-no-hover" href="http://www.instagram.com" target="_blank">
				<img class="social-media-img-bottom" src="./img/icons/instagram-logo-silhouette-64.png">
			</a>
			<a class="a-class-no-hover" href="http://www.twitter.com" target="_blank">
				<img class="social-media-img-bottom" src="./img/icons/twitter-logo-silhouette-64.png">
			</a>
		</div>

		<div class="fine-print-bottom-footer-wrapper">
			<p class="fine-print-link-p">
				<a href="#">
					Terms & Conditions 
				</a>
				| 
				<a href="#">
					Privacy Policy
				</a>
			</p>
			<p class="fine-print-link-p">
				Copyright 2017 Brand Builders Company, LLC
			</p>
		</div>

	</div>
</div>
</footer>