<div class="zach-navbar-wrapper">
	<div class="zach-navbar-inner-content-wrapper">

		<div class="company-logo-wrapper">
			<a href="index.html">
				<img class="navbar-company-logo" src="./img/east-end-ink-logo-large-width-1288-on-dark.png" />
			</a>
		</div>

		<div class="navbar-main-options-wrapper">
			<ul class="zach-navbar-ul">
				<li class="zach-navbar-li">
					<a href="products.html">Products</a>
				</li>
				<li class="zach-navbar-li">
					<a href="services.html">Services</a>
				</li>
				<li class="zach-navbar-li">
					<a href="designs.html">Designs</a>
				</li>
				<li class="zach-navbar-li">
					<a href="promotional-products.html">Promotional Products</a>
				</li>
				<li class="zach-navbar-li">
					<a href="quote-request.html">Request A Quote</a>
				</li>
			</ul>
		</div>

	</div>
</div>