<div class="zach-navbar-wrapper">
	<div class="zach-navbar-inner-content-wrapper">

		<div class="company-logo-wrapper">
			<a href="index">
				<img class="navbar-company-logo" src="./img/east-end-ink-logo-large-width-1288-on-dark.png" />
			</a>
		</div>

		<div class="navbar-connect-with-us-wrapper">
			<div class="top-connect-with-us-section-nav">
				<a class="contact-us-link" href="#">
					<h5 class="top-navbar-tiny-text">CONTACT US</h5>
				</a>

			</div>
			<div class="bottom-connect-with-us-section-nav">

				<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
					<img class="tiny-navbar-social-img" src="./img/icons/linkedin-circle-logo-white-128.png" />
					<img class="tiny-navbar-social-img-hover" src="./img/icons/linkedin-circle-logo-kelly-green-128.png" />
				</a>


				<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
					<img class="tiny-navbar-social-img" src="./img/icons/google-plus-circle-logo-white-128.png" />
					<img class="tiny-navbar-social-img-hover" src="./img/icons/google-plus-circle-logo-kelly-green-128.png" />
				</a>

				<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
					<img class="tiny-navbar-social-img" src="./img/icons/facebook-circle-logo-white-128.png" />
					<img class="tiny-navbar-social-img-hover" src="./img/icons/facebook-circle-logo-kelly-green-128.png" />
				</a>

				<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
					<img class="tiny-navbar-social-img" src="./img/icons/instagram-circle-logo-white-128.png" />
					<img class="tiny-navbar-social-img-hover" src="./img/icons/instagram-circle-logo-kelly-green-128.png" />
				</a>

				<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
					<img class="tiny-navbar-social-img" src="./img/icons/twitter-circle-logo-white-128.png" />
					<img class="tiny-navbar-social-img-hover" src="./img/icons/twitter-circle-logo-kelly-green-128.png" />
				</a>

			</div>
		</div>

		<div class="navbar-main-options-wrapper">
			<ul class="zach-navbar-ul">
				<li class="zach-navbar-li">
					<a href="products">PRODUCTS</a>
				</li>
				<li class="zach-navbar-li">
					<a href="services">SERVICES</a>
				</li>
				<li class="zach-navbar-li">
					<a href="designs">DESIGNS</a>
				</li>
				<li class="zach-navbar-li">
					<a href="quote-request">REQUEST A QUOTE</a>
				</li>
			</ul>
		</div>

	</div>
</div>