
	<!-- START MOBILE / TABLET NAVBAR -->	
	<nav id="mobile-nav-main-tag" class="d-md-none d-lg-none d-xl-none navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="index">
			<img style="padding-left: 30px; max-height: 40px; width: auto;" src="./img/east-end-ink-mobile-logo-height-40px.png" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbarID" aria-controls="mobileNavbarID" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div style="padding-left: 15px; padding-top: 20px;" class="collapse navbar-collapse" id="mobileNavbarID">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="index">Home </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="products">Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="services">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="designs">Designs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="quote-request">Request a Quote</a>
				</li>
			</ul>
		</div>
	</nav>
    <!-- END MOBILE / TABLET NAVBAR -->


	<!-- START DESKTOP NAVBAR -->
	<div id="desktop-navbar-outer-wrap" class="d-xs-none d-sm-none zach-navbar-wrapper">
		<div id="desktop-navbar-inner-wrap" class="d-xs-none d-sm-none zach-navbar-inner-content-wrapper">

			<div class="company-logo-wrapper">
				<a href="index">
					<img class="navbar-company-logo" src="./img/east-end-ink-logo-large-width-1288-on-dark.png" />
				</a>
			</div>

			<div class="navbar-connect-with-us-wrapper">
				<div class="top-connect-with-us-section-nav">
					<a class="contact-us-link" href="#">
						<h5 class="top-navbar-tiny-text">CONTACT US</h5>
					</a>

				</div>
				<div class="bottom-connect-with-us-section-nav">

					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/linkedin-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/linkedin-circle-logo-kelly-green-128.png" />
					</a>


					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/google-plus-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/google-plus-circle-logo-kelly-green-128.png" />
					</a>

					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/facebook-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/facebook-circle-logo-kelly-green-128.png" />
					</a>

					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/instagram-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/instagram-circle-logo-kelly-green-128.png" />
					</a>

					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/twitter-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/twitter-circle-logo-kelly-green-128.png" />
					</a>

				</div>
			</div>

			<div class="navbar-main-options-wrapper">
				<ul class="zach-navbar-ul">
					<li class="zach-navbar-li">
						<a href="products">PRODUCTS</a>
					</li>
					<li class="zach-navbar-li">
						<a href="services">SERVICES</a>
					</li>
					<li class="zach-navbar-li">
						<a href="designs">DESIGNS</a>
					</li>
					<li class="zach-navbar-li">
						<a href="quote-request">REQUEST A QUOTE</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<!-- END DESKTOP NAVBAR -->