{% extends 'layout.twig' %}

{% block content %}

	<div class="designs-page-wrapper">

		<div class="top-designs-wrapper">


		</div>

		<div class="designs-grid-layout-wrapper">

			<div class="gallery">

				<div class="img-row">
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-1.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-2.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-3.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-4.jpg" alt="" />
						</div>
					</div>
				</div>

				<div class="img-row">
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-1.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-2.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-3.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-4.jpg" alt="" />
						</div>
					</div>
				</div>


			</div>

		</div>

	</div>

	<script src="./js/designs-page-grid.js" ></script>

{% endblock %}