{% extends 'layout.twig' %}

{% block content %}

	<div class="designs-page-wrapper">

		<div class="top-designs-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">

						<h3 class="designs-page-selling-point-header">
							Why Our Designers are the Best in Texas
						</h3>

						<div id="top-designs-underliner-div"></div>

						<p class="designs-page-selling-point-text">
							Our designers are great because they've all been trained in the ways of the Jedi. All of them also have iPhones... that are available for use at ANY TIME.
						</p>

						<p class="designs-page-selling-point-text">
							Not only that, but we have access to every color imagineable. That's why our designers can even top Willy Wonka.
						</p>
					</div>
					<div class="col-md-3">
						<form id="designer-contact-form" method="post" action="/drop-down-contact-form">
							<p style="text-align: left; padding-left: 8px; padding-bottom: 4px;" class="design-contact-field-header">Email: </p>
							<input type="email" id="email" name="email" placeholder="Email we can reach you at" 
								style="font-size: 14px; height: 28px; line-height: 28px;" class="dropdown-contact-form-text-input" required>

							<p style="text-align: left; padding-left: 8px; padding-bottom: 4px;" class="design-contact-field-header">Message: </p>
							<textarea id="message" name="message" rows="3" placeholder="Tell us a bit about your design..." class="dropdown-contact-form-message" required></textarea>

							<div style="width: 100%; padding: 0; text-align: center">
								<button class="design-contact-form-submit-btn"  type="submit">Get Design Started</button>
							</div>

						</form>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

		<div class="designs-grid-layout-wrapper">

			<div class="gallery">

				<div class="img-row">
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" id="GGG" src="./img/shirt-img-placeholder-1.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-2.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-3.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-4.jpg" alt="" />
						</div>
					</div>
				</div>

				<div class="img-row">
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-5.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-6.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-7.jpg" alt="" />
						</div>
					</div>
					<div class="img-container">
						<div class="img-wrap">
							<img class="gallery-img" src="./img/shirt-img-placeholder-8.jpg" alt="" />
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<script src="./js/designs-page-grid.js" ></script>

{% endblock %}