{% extends 'layout.twig' %}

{% block content %}

	<div id="splash-wrapper" class="home-splash-content-wrapper">
		<div class="home-page-tagline-holder">
			SERVING UP GOOD PRINTS FOR <span class="green">GOOD PEOPLE</span>
		</div>
		<div class="home-page-tagline-sub-header">
			We pride ourselves in offering some of the best prints around. We have been fortunate enough to collaborate with some of the 
			coolest brands and businesses in Central Texas. We look forward to helping you elevate your next project.
		</div>
		<div class="zach-btn homepage-splash-zach-btn">
			GET A QUOTE
		</div>
	</div>

	<div class="little-ribbon-wrapper">
		<div class="inner-little-ribbon-wrapper">
			<span class="service-ribbon-text">
				DESIGN
			</span>

			<img class="tear-drop-separator"
				src="./img/icons/white-drop-icon.png">

			<span class="service-ribbon-text">
				SEW
			</span>

			<img class="tear-drop-separator"
				src="./img/icons/white-drop-icon.png">

			<span class="service-ribbon-text">
				PRINT
			</span>

			<img class="tear-drop-separator"
				src="./img/icons/white-drop-icon.png">

			<span class="service-ribbon-text">
				PROMO
			</span>	
		</div>
	</div>

	<div class="our-advantages-section-wrapper">
		<div class="home-page-section-wrapper">

			<div class="row advantages-icon-row">
				<div class="col-md-3 quarter-width-feature-wrapper">
					<img class="feature-icon" src="./img/icons/customer-service-feature-icon.png" />
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<img class="feature-icon" src="./img/icons/speed-feature-icon.png" />
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<img class="feature-icon" src="./img/icons/proof-icon.png" />
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<img class="feature-icon" src="./img/icons/ink-feature-icon.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 quarter-width-feature-wrapper">
					<h3 class="our-advantages-sub-header">
						LET OUR FRIENDLY EXPERIENCED STAFF PUT YOU IN THE RIGHT POSITION TO TAKE ON ANY PROJECT.
					</h3>
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<h3 class="our-advantages-sub-header">
						GOT A TIME FRAME, NO PROBLEM. WE HIT DEADLINES - IT'S WHAT WE DO.
					</h3>
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<h3 class="our-advantages-sub-header">
						WE INCLUDE A DIGITAL PROOF WITH EVERY NEW ORDER. THAT WAY WE CAN ALL MAKE SURE WE ARE ON THE SAME PAGE.
					</h3>
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<h3 class="our-advantages-sub-header">
						LET OUR FRIENDLY EXPERIENCED STAFF PUT YOU IN THE RIGHT POSITION TO TAKE ON ANY PROJECT
					</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="our-brands-section-wrapper">


	</div>

	<div class="our-services-section-wrapper">


	</div>

	<div class="home-contact-us-section-wrapper">


	</div>

	<script src="./js/auto-size-homepage-splash-area.js"></script>

{% endblock %}