{% extends 'layout.twig' %}

{% block content %}

	<div id="splash-wrapper" class="home-splash-content-wrapper">
		<div class="home-page-tagline-holder">
			SERVING UP GOOD PRINTS FOR <span class="green">GOOD PEOPLE</span>
		</div>
		<div class="home-page-tagline-sub-header">
			We pride ourselves in offering some of the best prints around. We have been fortunate enough to collaborate with some of the 
			coolest brands and businesses in Central Texas. We look forward to helping you elevate your next project.
		</div>
		<div class="zach-btn homepage-splash-zach-btn">
			GET A QUOTE
		</div>
	</div>

	<div class="little-ribbon-wrapper">
		<div class="inner-little-ribbon-wrapper">

			<div class="inner-ribbon-responsive-wrapper">
				<span class="service-ribbon-text">
					DESIGN
				</span>

				<img class="tear-drop-separator"
					src="./img/icons/white-drop-icon.png">

				<span class="service-ribbon-text">
					SEW
				</span>

				<img class="tear-drop-separator"
					src="./img/icons/white-drop-icon.png">
			</div>

			<div class="inner-ribbon-responsive-wrapper">
				<span class="service-ribbon-text">
					PRINT
				</span>

				<img class="tear-drop-separator"
					src="./img/icons/white-drop-icon.png">

				<span class="service-ribbon-text">
					PROMO
				</span>
			</div>
		</div>
	</div>

	<div class="our-advantages-section-wrapper">
		<div class="home-page-section-wrapper">

			<div class="row advantages-icon-row">
				<div class="col-md-3 quarter-width-feature-wrapper">
					<img id="special-feature-icon" class="feature-icon" src="./img/icons/customer-service-feature-icon.png" />
					<h3 class="our-advantages-sub-header only-show-xs">
						LET OUR FRIENDLY EXPERIENCED STAFF PUT YOU IN THE RIGHT POSITION TO TAKE ON ANY PROJECT
					</h3>
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<img class="feature-icon" src="./img/icons/speed-feature-icon.png" />
					<h3 class="our-advantages-sub-header only-show-xs">
						GOT A TIME FRAME, NO PROBLEM. WE HIT DEADLINES - IT'S WHAT WE DO
					</h3>
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<img class="feature-icon" src="./img/icons/proof-icon.png" />
					<h3 class="our-advantages-sub-header only-show-xs">
						WE INCLUDE A DIGITAL PROOF WITH EVERY NEW ORDER. THAT WAY WE CAN ALL MAKE SURE WE ARE ON THE SAME PAGE
					</h3>
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<img class="feature-icon" src="./img/icons/ink-feature-icon.png" />
					<h3 class="our-advantages-sub-header only-show-xs">
						LET OUR FRIENDLY EXPERIENCED STAFF PUT YOU IN THE RIGHT POSITION TO TAKE ON ANY PROJECT
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 quarter-width-feature-wrapper">
					<h3 class="our-advantages-sub-header hide-on-xs">
						LET OUR FRIENDLY EXPERIENCED STAFF PUT YOU IN THE RIGHT POSITION TO TAKE ON ANY PROJECT
					</h3>
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<h3 class="our-advantages-sub-header hide-on-xs">
						GOT A TIME FRAME, NO PROBLEM. WE HIT DEADLINES - IT'S WHAT WE DO
					</h3>
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<h3 class="our-advantages-sub-header hide-on-xs">
						WE INCLUDE A DIGITAL PROOF WITH EVERY NEW ORDER. THAT WAY WE CAN ALL MAKE SURE WE ARE ON THE SAME PAGE
					</h3>
				</div>
				<div class="col-md-3 quarter-width-feature-wrapper">
					<h3 class="our-advantages-sub-header hide-on-xs">
						LET OUR FRIENDLY EXPERIENCED STAFF PUT YOU IN THE RIGHT POSITION TO TAKE ON ANY PROJECT
					</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="fancy-home-divider">
		<div class="inner-fancy-home-divider">
			<div class="fancy-hm-left"></div>
			<div class="fancy-hm-center">
				<img src="./img/icons/green-divider-drop.png" />
			</div>
			<div class="fancy-hm-left"></div>
		</div>
	</div>

	<div class="our-brands-section-wrapper">

		<div class="home-page-section-wrapper container-fluid">
			<div class="row brands-header-row">
				<h2 class="brands-header-line">
					WHETHER YOU ARE LOOKING FOR
				</h2>
				<h2 class="brands-header-line">
					AN AMERICAN CLASSIC OR A FASHION
				</h2>
				<h2 class="brands-header-line">
					 FORWARD GARMENT, 
					<span class="green">WE GOT YOU COVERED</span>
				</h2>
			</div>
			<div class="row">
				<div class="col-sm-4 brand-promo-image-wrapper">
					<img class="brand-promo-image" src="./img/american-apparel-brand-promo-image.png" />
				</div>
				<div class="col-sm-4 brand-promo-image-wrapper">
					<img class="brand-promo-image" src="./img/bella-fast-fashion-promo-image.png" />				
				</div>
				<div class="col-sm-4 brand-promo-image-wrapper">
					<img class="brand-promo-image" src="./img/alternative-apparel-brand-promo-image.png" />				
				</div>
				<div class="only-show-xs col-sm-4 brand-promo-image-wrapper">
					<img class="brand-promo-image" src="./img/hanes-brand-example.png" />				
				</div>
			</div>
			<div class="row brands-subheader-row">
				<h3 class="hide-on-xs brands-subheader-text">
					WITH A WIDE ARRAY OF BRANDS AVAILABLE IN ALL TYPES OF GARMENTS
				</h3>
				<h3 class="hide-on-xs brands-subheader-text">
					THERE IS NO PROJECT WE CAN'T FIND YOU THE RIGHT GEAR FOR
				</h3>
				<h3 class="hide-on-xs brands-subheader-text">
					TAKE A LOOK AROUND AND CHECK OUT THE DIFFERENT OPTIONS WE HAVE AVAILABLE
				</h3>

				<h3 class="only-show-xs brands-subheader-text">
					WITH A WIDE ARRAY OF BRANDS AVAILABLE IN ALL TYPES OF GARMENTS THERE IS NO PROJECT WE CAN'T FIND YOU THE RIGHT GEAR FOR. TAKE A LOOK AROUND AND CHECK OUT THE DIFFERENT OPTIONS WE HAVE AVAILABLE.
				</h3>

				<div class="zach-btn zach-brand-browse-btn">
					BROWSE
				</div>
			</div>

		</div>

	</div>

	<div class="fancy-home-divider">
		<div class="inner-fancy-home-divider">
			<div class="fancy-hm-left"></div>
			<div class="fancy-hm-center">
				<img src="./img/icons/green-divider-drop.png" />
			</div>
			<div class="fancy-hm-left"></div>
		</div>
	</div>

	<div class="our-services-section-wrapper">

		<div class="container-fluid">
			<div class="row brands-header-row">
				<h2 class="brands-header-line">
					WE ARE ALWAYS IN THE PURSUIT OF OFFERING
				</h2>
				<h2 class="brands-header-line">
					THE BEST SERVICE POSSIBLE
				</h2>
			</div>
			<div class="row">
				<div class="col-md-3 services-image-section">
					<img src="./img/service-offering-discharge-white.png" />
					<h5>Screen Printing</h5>
				</div>
				<div class="col-md-3 services-image-section">
					<img src="./img/service-offering-waterbase-ink.png" />
					<h5>Water Based Printing</h5>
				</div>
				<div class="col-md-3 services-image-section">
					<img src="./img/service-offering-simulated-process.png" />
					<h5>Simulated Process Printing</h5>
				</div>
				<div class="col-md-3 services-image-section">
					<img src="./img/service-offering-embroidery.png" />
					<h5>Embroidery</h5>
				</div>
			</div>
		</div>

	</div>

	<div class="hide-on-xs fancy-home-divider">
		<div class="inner-fancy-home-divider">
			<div class="fancy-hm-left"></div>
			<div class="fancy-hm-center">
				<img src="./img/icons/green-divider-drop.png" />
			</div>
			<div class="fancy-hm-left"></div>
		</div>
	</div>

	<div class="home-contact-us-section-wrapper">
		<div class="container-fluid">
			<div class="row brands-header-row">
				<h2 class="hide-on-xs brands-header-line">
					GET IN TOUCH
				</h2>
			</div>
			<div class="row">
				<div id="contact-info-block-holder" class="col-md-6">
					<div class="contact-info-block">
						<h4 class="contact-info-header">CONTACT</h4>

						<h5 class="contact-info-subheader">ADDRESS</h5>
						<p class="contact-info-line">
							4020 South Industrial Dr #150
						</p>
						<p class="contact-info-line">
							Austin, Texas 78744
						</p>

						<h5 class="contact-info-subheader">PHONE</h5>
						<p class="contact-info-line">
							512.236.991
						</p>

						<h5 class="contact-info-subheader">HOURS</h5>
						<p class="contact-info-line">
							8:30 am - 5 pm CST
						</p>

						<h5 class="contact-info-subheader">EMAIL</h5>
						<p class="contact-info-line">
							orders@eastendink.com
						</p>
					</div>
				</div>
				<div class="col-md-6">

					<h2 style="padding-top: 25px;" class="only-show-xs brands-header-line">
						GET IN TOUCH
					</h2>

					<form id="fancy-home-contact-form" class="fancy-contact-us-form" action="/home-contact-email" method="POST" enctype="multipart/form-data">
						<h6 class="hide-on-xs contact-us-section-small-text">
							WE WOULD LOVE TO HEAR FROM YOU. PLEASE DROP US A LINE BELOW IF YOU HAVE ANY QUESTIONS OR CONCERNS.
						</h6>
						<p class="fancy-form-field-header">NAME</p>
						<input name="name" type="text" class="fancy-contact-form-text-input"/>

						<p class="fancy-form-field-header">EMAIL</p>
						<input name="email" type="text" class="fancy-contact-form-text-input"/>

						<p class="fancy-form-field-header">SUBJECT</p>
						<input name="subject" type="text" class="fancy-contact-form-text-input"/>

						<p class="fancy-form-field-header">MESSAGE</p>
						<textarea name="message" rows="4" columns="50" class="fancy-contact-form-message"></textarea>

						<button type="submit" class="fancy-contact-us-form-submit-btn">
							SUBMIT
						</button>
					</form>

					<div id="fancy-home-contact-form-success-div">
						<h2>Success!</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="./js/auto-size-homepage-splash-area.js"></script>

{% endblock %}