{% extends 'layout.twig' %}

{% block content %}

	<div class="products-page-wrapper">

		<div class="top-products-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">

						<h3 class="products-page-selling-point-header">
							A Wide Selection of Products
						</h3>

						<div id="top-products-underliner-div"></div>

						<p class="products-page-selling-point-text">
							We have thousands of products we can customize. We use the biggest and best distributors, making us truly badass.
						</p>

						<p class="products-page-selling-point-text">
							They come from all over the United States, shipping stuff with ease and doing it super well. Wow it's incredible how good it makes both us and them. Look no further, for custom anything-you-can-dream, we have it all, like the multi-flavored ice cream machine.
						</p>
					</div>
					<div class="col-md-3" id="products-qr-btn-wrapper">
						<div id="products-page-sell-quote-request-btn">
							Get a Quote to Screen Print or Embroider a Product
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

		<div class="product-rows-layout-wrapper">
			<div class="row">
				<div class="container-fluid">
					<div class="col-md-2"></div>
					<div class="col-md-8">


					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}