{% extends 'layout.twig' %}

{% block content %}

	<div class="products-page-wrapper">

		<div class="top-products-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">

						<h3 class="products-page-selling-point-header">
							A Wide Selection of Products
						</h3>

						<div id="top-products-underliner-div"></div>

						<p class="products-page-selling-point-text">
							Image moving she'd spirit. Divided you're cattle morning fowl together it won't from whose whose, wherein divided creepeth, creeping, his evening to creeping our. Saw. Fruit saying his tree face let abundantly firmament may appear. Had can't lights moving moveth lesser spirit let place.
						</p>

						<p class="products-page-selling-point-text">
							Doesn't made creature fly so. I land she'd form blessed open and be. Him subdue together him the creepeth can't one moved itself may can't creature stars earth. Night multiply had kind i be seasons stars spirit day let every second.
						</p>
					</div>
					<div class="col-md-3" id="products-qr-btn-wrapper">
						<a id="qr-products-page-btn-wrap" href="quote-request">
							<div id="products-page-sell-quote-request-btn">
								Get a Quote to Screen Print or Embroider a Product
							</div>
						</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

		<div class="product-rows-layout-wrapper">

			<div class="container-fluid products-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="products-page-selling-point-header">
							Shirts
						</h3>

						<div style="width: 100px; padding-bottom: 15px;" id="top-products-underliner-div"></div>				

					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/american-apparel-brand-promo-image.png" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/bella-fast-fashion-promo-image.png" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/alternative-apparel-brand-promo-image.png" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/hanes-brand-example.png" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid products-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="products-page-selling-point-header">
							Hats
						</h3>

						<div style="width: 100px; padding-bottom: 15px;" id="top-products-underliner-div"></div>				

					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/comfort-colors-hat-example.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/alternative-hat-example.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/anvil-hat-example.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/adams-hat-example.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

	</div>
{% endblock %}