{% extends 'layout.twig' %}

{% block content %}

	<div class="products-page-wrapper">

		<div class="top-products-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">

						<h3 class="products-page-selling-point-header">
							A Wide Selection of Products
						</h3>

						<div id="top-products-underliner-div"></div>

						<p class="products-page-selling-point-text">
							Almost any product you can imagine is possible for us to customize. For shirts, we have thousands of unique options to screen print or embroider. For everything else, it’s almost impossible to name a product we don’t have multiple options for. 
						</p>

						<p class="products-page-selling-point-text">
							However, if you need recommendations on a certain product we have the expertise to recommend fitting options based on your situation & needs. We stay on top of the latest and greatest brands so you don’t have to.
						</p>
					</div>
					<div class="col-md-3" id="products-qr-btn-wrapper">
						<a id="qr-products-page-btn-wrap" href="quote-request">
							<div id="products-page-sell-quote-request-btn">
								Get a Quote to Screen Print or Embroider a Product
							</div>
						</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

		<div class="product-rows-layout-wrapper">

			<div class="container-fluid products-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="products-page-selling-point-header">
							Shirts
						</h3>

						<div style="width: 100px; padding-bottom: 15px;" id="top-products-underliner-div"></div>				

					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-md-2"></div>

					<div class="col-md-2">
						<a href="https://www.alphabroder.com/cgi-bin/online/webshr/search-result.w?nResults=20&RequestAction=advisor&RequestData=CA_BreadcrumbSelect&currentpage=1&CatPath=All%20Products%2F%2F%2F%2FUserSearch%3Dnot%28mill_code%3D%27UA%27%29%2F%2F%2F%2FUserSearch1%3Damerican%20apparel" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/products/american-apparel-brand-promo-image.png" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="https://www.bellacanvas.com/fast-fashion" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/products/bella-fast-fashion-promo-image.png" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all Bella Canvas products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="https://www.alphabroder.com/cgi-bin/online/webshr/search-result.w?nResults=20&RequestAction=advisor&RequestData=CA_BreadcrumbSelect&currentpage=1&CatPath=All%20Products%2F%2F%2F%2FUserSearch%3Dnot%28mill_code%3D%27UA%27%29%2F%2F%2F%2FUserSearch1%3DAlternative" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/products/alternative-apparel-brand-promo-image.png" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all Alternative Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="https://www.alphabroder.com/cgi-bin/online/webshr/search-result.w?nResults=20&RequestAction=advisor&RequestData=CA_BreadcrumbSelect&currentpage=1&CatPath=All%20Products%2F%2F%2F%2FUserSearch%3Dnot%28mill_code%3D%27UA%27%29%2F%2F%2F%2FUserSearch1%3Dhanes" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/products/hanes-brand-example.png" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all Hanes products</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-2">
						<a href="https://www.alphabroder.com/cgi-bin/online/webshr/search-result.w?nResults=20&RequestAction=advisor&RequestData=CA_BreadcrumbSelect&currentpage=1&CatPath=All%20Products%2F%2F%2F%2FUserSearch%3Dnot%28mill_code%3D%27UA%27%29%2F%2F%2F%2FUserSearch1%3Dnext%20level" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/products/next-level-apparel-logo.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all Next Level products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://www.tscapparel.com/base/Catalog/Brands/Tultex/" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/products/tultex-apparel-brand-promo-image.jpg" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all Tultex products</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid products-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="products-page-selling-point-header">
							Hats
						</h3>

						<div style="width: 100px; padding-bottom: 15px;" id="top-products-underliner-div"></div>				

					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row" style="margin-bottom: 35px;">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<a href="http://www.richardsoncap.com" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/richardson-hat-promo-image.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all Richardson hats</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="https://ottocap.com" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/otto-hat-promo-image.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all Otto Caps</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="https://www.alphabroder.com/cgi-bin/online/webshr/search-result.w?nResults=20&RequestAction=advisor&RequestData=CA_BreadcrumbSelect&currentpage=1&CatPath=All%20Products%2F%2F%2F%2FUserSearch%3Dnot%28mill_code%3D%27UA%27%29%2F%2F%2F%2FUserSearch1%3Dyupoong" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/yuupong-hat-promo-image.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all Yuupong hats</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="https://www.sanmar.com/Brands/New-Era/c/bra-newera" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/new-era-hat-promo-image.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all New Era hats</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-2">
						<a href="https://www.pacificheadwear.com/products" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/products/pacific-headwear-promo-image.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all Pacific hats</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>
			</div>

		</div>

	</div>
{% endblock %}