{% extends 'layout.twig' %}

{% block content %}

	<div class="products-page-wrapper">

		<div class="top-products-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">

						<h3 class="products-page-selling-point-header">
							A Wide Selection of Products
						</h3>

						<div id="top-products-underliner-div"></div>

						<p class="products-page-selling-point-text">
							We have thousands of products we can customize. We use the biggest and best distributors, making us truly badass.
						</p>

						<p class="products-page-selling-point-text">
							They come from all over the United States, shipping stuff with ease and doing it super well. Wow it's incredible how good it makes both us and them. Look no further, for custom anything-you-can-dream, we have it all, like the multi-flavored ice cream machine.
						</p>
					</div>
					<div class="col-md-3" id="products-qr-btn-wrapper">
						<a id="qr-products-page-btn-wrap" href="quote-request">
							<div id="products-page-sell-quote-request-btn">
								Get a Quote to Screen Print or Embroider a Product
							</div>
						</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

		<div class="product-rows-layout-wrapper">

			<div class="container-fluid products-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="products-page-selling-point-header">
							Shirts
						</h3>

						<div style="width: 100px; padding-bottom: 15px;" id="top-products-underliner-div"></div>				

					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/american-apparel-brand-promo-image.png" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/bella-fast-fashion-promo-image.png" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/alternative-apparel-brand-promo-image.png" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="brand-product-example-image" src="./img/hanes-brand-example.png" />				
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid products-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="products-page-selling-point-header">
							Hats
						</h3>

						<div style="width: 100px; padding-bottom: 15px;" id="top-products-underliner-div"></div>				

					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/comfort-colors-hat-example.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/alternative-hat-example.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/anvil-hat-example.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<a href="http://twitter.com/zach_hustles" target="_new">
							<div class="prod-linkable">
								<img class="potentially-wide-product-example-image" src="./img/products/adams-hat-example.jpg" />
								<div class="tooltip-wrapper">
									<p class="product-link-tool-tip-text">Click here to browse all American Apparel products</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

	</div>
{% endblock %}