{% extends 'layout.twig' %}

{% block content %}

	<div class="container quote-request-master-wrapper" >

		<h2 class="quote-request-header">QUOTE REQUEST FORM</h2>

		<h4 class="quote-request-sub-header">
			No two print jobs are alike. The best way for us to get an accurate quote is to answer the few questions in the form below. 
		</h4>
		<h4 class="quote-request-sub-header">
			With this information, we will provide you with a quote within 24 hours of receiving your request.
		</h4>

		<form id="quote-request-form" action="{{ base_url() }}/quote-request-submit" method="POST" enctype="multipart/form-data">

			<h3 class="qr-form-section-header">Contact Info</h3>

			<p class="qr-form-input-label">First and Last Name*</p>
			<input class="qr-form-input qr-form-text-input" type="text" name="fullName" required />

			<p class="qr-form-input-label">Organization Name*</p>
			<input class="qr-form-input qr-form-text-input" type="text" name="orgName" required />

			<p class="qr-form-input-label">Email Address*</p>
			<input class="qr-form-input qr-form-text-input" data-validate="email" type="email" name="emailAddress" required />

			<p class="qr-form-input-label">Phone Number*</p>
			<input class="qr-form-input qr-form-text-input" data-validate="phone" type="telephone" name="phoneNumber" required />

			<h3 class="qr-form-section-header" style="padding-top: 30px;">About Your Gear</h3>

			<!-- Big drop-down with product category -->
			<p class="qr-form-input-label">Items to be Printed or Embroidered*</p>
			<select class="qr-form-input qr-form-select" name="apparelType" required >
				<option selected="selected"></option>
				<option value="short-sleeve-shirts">Short Sleeve Shirts</option>
				<option value="long-sleeve-shirts">Long Sleeve Shirts</option>
				<option value="tank-tops">Tank Tops</option>
				<option value="hoodies">Hoodies</option>
				<option value="hats">Hats</option>
				<option value="Other">Other</option>
			</select>

			<p class="qr-form-input-label">Desired Quantity</p>
			<input type="number" data-validate="number" class="qr-form-input qr-form-text-input" name="desiredQuantity" />

			<p class="qr-form-input-label">Color of Items</p>
			<input type="text" class="qr-form-input qr-form-text-input" name="colorOfItems" />

			<p style="font-size: 1.2em;" class="qr-form-input-label">Already Know What Design You Want on Your Items?</p>

			<div id="pleaseSelectDesignOption" style="margin-top: 6px; text-align: center; padding-top: 5px; background-color: #ff6666; width: 100%;">
				<p>Please Tell Us Whether You Know What Design You Want or Aren't Yet Sure </p>
			</div>

			<div class="two-options-wrapper">
				<input type="text" style="width: 1px; visibility: hidden;" id="knowWhatDesignOrNot" name="knowWhatDesignOrNot" />

				<div id="sureOfDesignButton" class="qr-form-option-btn">YES</div>
				<div id="notSureDesignButton" class="qr-form-option-btn">NOT SURE</div>
			</div>

				<div id="know-what-they-want-on-design">
					<p class="qr-form-input-label">Decoration Location #1*</p>
					<select class="qr-form-input qr-form-select" id="decorationLocationOne" name="decorationLocationOne" required>
						<option selected="selected"></option>
						<option value="full-front">Full Front</option>
						<option value="full-back">Full Back</option>
						<option value="left-chest">Left Chest</option>
						<option value="top-back">Top Back</option>
						<option value="left-sleeve">Left Sleeve</option>
						<option value="right-sleeve">Right Sleeve</option>
						<option value="other">Other</option>
					</select>

					<p class="qr-form-input-label">Number of Colors for Location #1</p>
					<input class="qr-form-input qr-form-text-input" type="number" id="numberColorsLocationOne" name="numberColorsLocationOne" />

					<p class="qr-form-input-label">Design / Art File for Location #1</p>
					<div id="uploadBlockOne">
						<input type="file" class="hidden-actual-file-uploader" id="designLocationOneUpload" name="designLocationOne" />
						<input type="button" class="upload-file-button" id="designLocationOneFileClickerButton" value="Upload Art" />
						<i id="uploadBlockOneSuccess" class="uploaded-checkmark fa fa-check-square-o fa-2x"></i>
					</div>

					<p class="qr-form-input-label">Decoration Location #2</p>
					<select class="qr-form-input qr-form-select" id="decorationLocationTwo" name="decorationLocationTwo" >
						<option selected="selected"></option>
						<option value="full-front">Full Front</option>
						<option value="full-back">Full Back</option>
						<option value="left-chest">Left Chest</option>
						<option value="top-back">Top Back</option>
						<option value="left-sleeve">Left Sleeve</option>
						<option value="right-sleeve">Right Sleeve</option>
						<option value="other">Other</option>
					</select>

					<p class="qr-form-input-label">Number of Colors for Location #2</p>
					<input class="qr-form-input qr-form-text-input" type="number" id="numberColorsLocationTwo" name="numberColorsLocationTwo" />

					<p class="qr-form-input-label">Design / Art File for Location #2</p>

					<div id="uploadBlockTwo">
						<input type="file" class="hidden-actual-file-uploader" id="designLocationTwoUpload" name="designLocationTwo" />
						<input type="button" class="upload-file-button" id="designLocationTwoFileClickerButton" value="Upload Art" />
						<i id="uploadBlockTwoSuccess" class="uploaded-checkmark fa fa-check-square-o fa-2x"></i>
					</div>

				</div>

				<div id="dont-know-what-they-want-on-design">
					<p class="qr-form-input-label">What Kind of Design Where You Thinking?*</p>
					<textarea id="designIdeaNotesTextArea" name="designIdeaNotes" rows="4" columns="50"
						placeholder="Please tell us what ideas you have for the design.." class="qr-form-input qr-textarea"></textarea>

					<p class="qr-form-input-label">Upload Images for Inspiration or to Take Ideas From</p>
					
					<div id="uploadBlockThree" style="width: 49%; position: relative; height: 44px; display: inline-block;">
						<input type="file" class="hidden-actual-file-uploader" id="designIdeaOneUpload" name="designIdeaFileOne">
						<input type="button" class="upload-file-button" id="designIdeaOneFileClickerButton" value="Upload Idea" />
						<i id="uploadBlockThreeSuccess" class="uploaded-checkmark fa fa-check-square-o fa-2x"></i>
					</div>

					<div id="uploadBlockFour" style="width: 49%; position: relative; height: 44px; display: inline-block;">
						<input type="file" class="hidden-actual-file-uploader" id="designIdeaTwoUpload" name="designIdeaFileTwo">
						<input type="button" class="upload-file-button" id="designIdeaTwoFileClickerButton" value="Upload Idea" />
						<i id="uploadBlockFourSuccess" class="uploaded-checkmark fa fa-check-square-o fa-2x"></i>
					</div>
				</div>

			<h3 class="qr-form-section-header" style="padding-top: 30px;">Delivery / Budget Info</h3>

			<p class="qr-form-input-label">When do you need these by?</p>

			<input class="qr-form-input qr-form-text-input" style="width: 280px;" id="month-input" type="text" name="deliveryMonth" placeholder="December" required />
			
			<input class="qr-form-input qr-form-text-input" style="width: 50px;" type="text" name="deliveryDay" placeholder="20" required />

			<select class="qr-form-input qr-form-select" style="width: 80px;" name="deliveryYear"  >
				<option selected="selected" value="2017">2017</option>
				<option value="2018">2018</option>
			</select>

			<p class="qr-form-input-label">Price Range</p>
			<select class="qr-form-input qr-form-select" name="priceRange"  >
				<option value="economical">$ - Economical2017</option>
				<option selected="selected" value="mid-range">$$ - Mid-Range</option>
				<option value="high-end">$$$ - High End</option>
			</select>

			<p class="qr-form-input-label">Want to Pick Your Order Up or Get it Shipped?</p>

			<div id="pleaseSelectShippingOption" style="margin-top: 6px; text-align: center; padding-top: 5px; background-color: #ff6666; width: 100%;">
				<p>Please Select the Pickup or Shipping Option</p>
			</div>

			<div id="shipping-options-wrapper" class="two-options-wrapper">
				<input type="text" style="width: 1px; visibility: hidden;" id="pickingUpOrShipping" name="pickingUpOrShipping" />

				<div id="picking-up-btn" class="qr-form-option-btn">Pickup in Austin</div>
				<div id="getting-shipped-btn" class="qr-form-option-btn">Get it Shipped</div>
			</div>

				<div id="picking-order-up" style="text-align: center;">

					<p class="qr-form-input-label" style="padding-bottom: 0; margin-bottom: 3px">4020 S Industrial Drive Suite #150</p>
					<p class="qr-form-input-label" style="padding-top: 0; padding-bottom: 8px;">Austin, TX 78744</p>

					<img src="./img/HQ-location-google-maps-rectangle-slice.png" style="width: 100%; height: auto; margin: 0 auto;" />
				</div>

				<div id="getting-order-shipped">
					<p class="qr-form-input-label">Shipping Address*</p>

					<input class="qr-form-input qr-form-text-input" id="deliveryAddress" style="margin-bottom: 3px;" type="text" name="deliveryAddress" placeholder="Address"/>

					<input class="qr-form-input qr-form-text-input" id="deliveryCity" style="width: 39%; display: inline-block;" type="text" name="deliveryCity" placeholder="City"/>

					<input class="qr-form-input qr-form-text-input" id="deliveryState" style="width: 39%; display: inline-block;" type="text" name="deliveryState" placeholder="State"/>

					<input class="qr-form-input qr-form-text-input" id="deliveryZip" style="width: 20%; display: inline-block;" type="text" name="deliveryZip" placeholder="Zip Code" />

				</div>

			<p class="qr-form-input-label">Notes / Special Instructions</p>
			<textarea name="quoteRequestNotes" placeholder="Anything else you want us to know about your order?" rows="6" columns="50" class="qr-form-input qr-textarea"></textarea>

			<div class="button-holder" style="width: 100%; text-align: center;">
				<button type="submit" class="quote-request-submit-btn">
					SUBMIT QUOTE REQUEST
				</button>
			</div>

		</form>

		<script src="./js/file-upload-clickers.js"></script>
		<script src="./js/jquery.validate.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
		<script src="./js/quote-request-validate.js"></script>
		<script src="./js/quote-form-section-toggler.js"></script>

	</div>

{% endblock %}