{% extends 'layout.twig' %}

{% block content %}

	<div class="services-page-wrapper">

		<div class="top-services-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">

						<h3 class="services-page-selling-point-header">
							A Full Suite of Services
						</h3>

						<div id="top-services-underliner-div"></div>

						<p class="services-page-selling-point-text">
							We have services that are absolutely the top of the top. They aren't quite as good as lemonade after you've been working out in the Texas heat, but besides that, they're pretty much better than anything else.
						</p>

						<p class="services-page-selling-point-text">
							We can wrap, we can print, we can embroider. We rock and can do almost anything you can think of! WOAH. Car wraps too!?!? YEP.
						</p>
					</div>
					<div class="col-md-3" id="services-qr-btn-wrapper">

					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

		<div class="service-rows-layout-wrapper">

			<div class="container-fluid services-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Design
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						Antilles jubnuk jek naberrie ulic falleen jade. Cato tarkin fett raa arkanian kalee roonan kobok chommell. Thul ansionian darth lorth dashade mon doldur. Kel bertroff elrood timoliini kamino caedus ventress tyranus.
					</div>
					<div class="col-md-4" id="design-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid services-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Screen Printing
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						Hypori firrerreo aayla katarn kubaz pavan owen bibble vader. Ree-yees wicket jin'ha barriss var boba. Qui-gon kendal askajian shmi lyn saesee xanatos. Antilles jubnuk jek naberrie ulic falleen jade. Cato tarkin fett raa arkanian kalee roonan kobok chommell. Thul ansionian darth lorth dashade mon doldur. Kel bertroff elrood timoliini kamino caedus ventress tyranus.
					</div>
					<div class="col-md-4" id="design-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid services-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Custom Cut & Sew
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						Lbnuk jek naberrie ulic falleen jade. Cato tarkin fett raa arkanian kalee roonan kobok chommell. Thul ansionian darth lorth dashade mon doldur. Kel bertroff elrood timoliini kamino caedus ventress tyranus.
					</div>
					<div class="col-md-4" id="design-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid services-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Promotional Items
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						Lucas ipsum dolor sit amet hssis mandalore caedus lando zuggs kuat kamino shistavanen darth skywalker. Lumiya aruzan greeata sly jabiimas koon ortolan. Squib gunray tano ishi mara mirax borsk. Hypori firrerreo aayla katarn kubaz pavan owen bibble vader. Ree-yees wicket jin'ha barriss var boba. Qui-gon kendal askajian shmi lyn saesee xanatos. Antilles jubnuk jek naberrie ulic falleen jade. Cato ventress tyranus.
					</div>
					<div class="col-md-4" id="design-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid services-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Finishing Services
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						Lucas ipsum dolor sit amet hssis mandalore caedus lfalleen jade. Cato tarkin fett raa arkanian kalee roonan kobok chommell. Thul ansionian darth lorth dashade mon doldur. Kel bertroff elrood timoliini kamino caedus ventress tyranus.
					</div>
					<div class="col-md-4" id="design-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid services-row">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Verhicle Wraps
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						Lucas ipsum dolor sit amet hssis mandalore caedus lando zuggs kuat kamino shistavanen darth skywalker. Lumiya aruzan greeata sly jabiimas koon ortolan. Squib gunray tano ishi mara mirax borsk. Hypori firrerreo aayla katarn kubaz pavan owen bibble vader. Ree-yees wicket jin'ha barriss var boba. Qui-gon kendal askajian shmi lyn saesee xanatos. Antilles jubnuk jek naberrie ulic falleen jade. 
					</div>
					<div class="col-md-4" id="design-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

	</div>

{% endblock %}