{% extends 'layout.twig' %}

{% block content %}

	<div class="services-page-wrapper">

		<div class="top-services-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">

						<h3 class="services-page-selling-point-header">
							A Full Suite of Services
						</h3>

						<div id="top-services-underliner-div"></div>

						<p class="services-page-selling-point-text">
							At EastEndInk, we’ve worked hard to develop a full suite of services for you. For your convenience, we want you to be able to get all your custom apparel needs through one company. Custom vehicle wraps, promo producs, and finishing services too.
						</p>
						<p class="services-page-selling-point-text">
							You then have one multi-faceted partner to turn to for new projects who already understands you and your business. We’ll work hard to understand your unique business needs, and work within a wide array of services to provide you with exactly what you need, when you need it.
						</p>

					</div>
					<div class="col-md-3" id="products-qr-btn-wrapper">
						<a id="qr-products-page-btn-wrap" href="quote-request">
							<div id="products-page-sell-quote-request-btn">
								Get a Quote on Any of These Services
							</div>
						</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

		<div class="service-rows-layout-wrapper">

			<div id="design-service-row" class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>
					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Design
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
						We have an experienced team of designers who are used to delivering designs in a timely fashion. So whether you need designs for screen printing, embroidery, vehicle wraps, business cards, or anything else – we can help! We take pride in working with you to make sure you are communicating what you want to say. Take a look at our designs page to learn more.
					</div>
					<div class="col-md-4" id="design-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div id="print-service-row" class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">

						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Screen Printing
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
						Printing is our company’s bread-and-butter. As the word “ink” in our company’s name implies, we were founded upon the simple concept of printing badass shirts with custom inks. We also have the ability to do water-based printing, producing shirts softer than any other method. Put in a quote request to talk to one of the many screen printing experts on our staff today!
					</div>
					<div class="col-md-4" id="screen-printing-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div id="sew-service-row" class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Custom Cut & Sew
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
						For some things, embroidering your logo on a product is the way to go. Employee uniforms, polo shirts, and hats are all examples of products where embroidery is the best route to go. If that’s the case, EastEndInk has you covered. We custom embroider products every week, and have been doing so for years. We make absolutely sure it comes out right every time, drop us a line today if you’d like to explore a cut & sew project with us. 
					</div>
					<div class="col-md-4" id="cut-and-sew-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div id="promo-services-row" class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Promotional Items
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
						Logoed promotional items like bags, can insulators, water bottles, etc. are both a way for your customers to remember you and traveling advertisements that leave a lasting impression. The selection of products is almost limitless, whether you’re thinking of pens, wristbands, bags, koozies, coffee mugs, or almost anything else - just drop us a line and you’ll find out just how quickly and economically we can get those things to you.
					</div>
					<div class="col-md-4" id="promotional-item-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Finishing Services
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
						Looking to be retail ready, no problem. Giving your products that finishing touch is what can really make your brand shine.

						We offer:

						<ul>
							<li>Tag Removal</li>
							<li>Inside Label Printing</li>
							<li>Folding / Poly bagging and more</li>
						</ul>
					</div>
					<div class="col-md-4" id="finishing-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Verhicle Wraps
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
						Vehicle wraps are an important advertising method for many brands. Whether it is one vehicle or an entire fleet – come talk to us. We offer cutting edge ideas and services to create unique, larger than life visuals. Increase your brand awareness as your team drives from place to place.
					</div>
					<div class="col-md-4" id="vehicle-wrap-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

	</div>

{% endblock %}