{% extends 'layout.twig' %}

{% block content %}

	<div class="services-page-wrapper">

		<div class="top-services-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">

						<h3 class="services-page-selling-point-header">
							A Full Suite of Services
						</h3>

						<div id="top-services-underliner-div"></div>

						<p class="services-page-selling-point-text">
							Dominion appear she'd waters. Were saw fruit seasons be blessed fill don't called beast great forth after created you yielding made behold forth wherein Moved living you'll all.
						</p>

						<p class="services-page-selling-point-text">
							Abundantly fruit grass waters third, two have man face, fourth grass replenish. Doesn't, morning so let living image you're isn't you'll and grass seed hath. Fifth image that i give is doesn't he isn't can't whales.
						</p>
					</div>
					<div class="col-md-3" id="products-qr-btn-wrapper">
						<a id="qr-products-page-btn-wrap" href="quote-request">
							<div id="products-page-sell-quote-request-btn">
								Get a Quote on Any of These Services
							</div>
						</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

		<div class="service-rows-layout-wrapper">

			<div id="design-service-row" class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>
					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Design
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>

						Antilles jubnuk jek naberrie ulic falleen jade. Cato tarkin fett raa arkanian kalee roonan kobok chommell. Thul ansionian darth lorth dashade mon doldur. Kel bertroff elrood timoliini kamino caedus ventress tyranus.
					</div>
					<div class="col-md-4" id="design-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div id="print-service-row" class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">

						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Screen Printing
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>

						Hypori firrerreo aayla katarn kubaz pavan owen bibble vader. Ree-yees wicket jin'ha barriss var boba. Qui-gon kendal askajian shmi lyn saesee xanatos. Antilles jubnuk jek naberrie ulic falleen jade. Cato tarkin fett raa arkanian kalee roonan kobok chommell. Thul ansionian darth lorth dashade mon doldur. Kel bertroff elrood timoliini kamino caedus ventress tyranus.
					</div>
					<div class="col-md-4" id="screen-printing-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div id="sew-service-row" class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Custom Cut & Sew
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>

						Lbnuk jek naberrie ulic falleen jade. Cato tarkin fett raa arkanian kalee roonan kobok chommell. Thul ansionian darth lorth dashade mon doldur. Kel bertroff elrood timoliini kamino caedus ventress tyranus.
					</div>
					<div class="col-md-4" id="cut-and-sew-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div id="promo-services-row" class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Promotional Items
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
						Everyone likes to represent their favorite bands, brands, athletes, colleges, slogans, etc. Logoed items like hats, T-shirts and bags are traveling advertisements that leave a lasting impression, making them crucial for building brand awareness. Pens, portfolios, candy tins, silicon wristbands and koozies and are fun leave behinds that your clients can enjoy and remember you by long after that initial visit has taken place. 
					</div>
					<div class="col-md-4" id="promotional-item-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Finishing Services
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
						Lucas ipsum dolor sit amet hssis mandalore caedus lfalleen jade. Cato tarkin fett raa arkanian kalee roonan kobok chommell. Thul ansionian darth lorth dashade mon doldur. Kel bertroff elrood timoliini kamino caedus ventress tyranus.
					</div>
					<div class="col-md-4" id="finishing-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="container-fluid services-row">
				<div class="row services-explanation-row">
					<div class="col-md-2"></div>

					<div class="col-md-4 service-text-explanation-wrapper">
						<h3 style="text-align: left;" class="services-page-selling-point-header">
							Verhicle Wraps
						</h3>
						<div style="width: 100px; padding-bottom: 15px;" id="top-services-underliner-div"></div>
						Whether it is one vehicle or an entire fleet – come talk to us. We offer cutting edge ideas and services that create unique, larger than life visuals. Increase your number of impressions in one market or many as you drive from place to place.
					</div>
					<div class="col-md-4" id="vehicle-wrap-services-wrapper">
					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

		</div>

	</div>

{% endblock %}